.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  padding: 0;

  .navbar-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Alumni+Sans+Pinstripe", sans-serif;
    font-size: 10px;
    margin-left: 20px;
    h2{
      padding: 2px;
    }
  }
  .navbar-logo{
    font-size: 15px;
  }
  .navbar-resume{
    margin-right: 30px;
  }
}