body {
  margin: 0;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-family: "Caveat", cursive;
  font-family: "Qwitcher Grypen", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
